<span class="score">{{ item.score }}</span>
<span class="title">
  <ng-container *ngIf="item.url">
    <a [href]="item.url" target="_blank">{{ item.title }}</a>
    <span class="host">{{ item.url }}</span>
  </ng-container>
  <ng-container *ngIf="!item.url">
    <a [routerLink]="[item.id]">{{ item.title }}</a>
  </ng-container>
</span>
<br>
<span class="meta">
  <span *ngIf="item.type !== 'job'" class="by">
    by <a [routerLink]="['user', item.id]" >{{ item.by }}</a>
  </span>
  <span class="time">{{ item.time }} ago</span>
  <span *ngIf="item.type !== 'job'" class="comments-link">
    | <a routerLink="/item" [queryParams]="{ id: item.id }">{{ item.descendants }} comments</a>
  </span>
</span>
<span class="label" *ngIf="item.type !== 'story'">{{ item.type }}</span>