<span class="score">{{story.score}}</span>
<span class="title">
  <ng-container *ngIf="story.url">
    <a [href]="story.url" target="_blank">{{story.title}}</a>
    <span class="host">{{story.url}}</span>
  </ng-container>
  <ng-container *ngIf="!story.url">
    <a [routerLink]="[story.id]">{{story.title}}</a>
  </ng-container>
</span>
<br>
<span class="meta">
  <span *ngIf="story.type !== 'job'" class="by">
    by <a [routerLink]="['user', story.id]" >{{story.by}}</a>
  </span>
  <span class="time">{{ story.time }} ago</span>
  <span *ngIf="story.type !== 'job'" class="comments-link">
    | <a routerLink="/item" [queryParams]="{id: story.id}">{{story.descendants}} comments</a>
  </span>
</span>
<span class="label" *ngIf="story.type !== 'story'">{{story.type}}</span>